// headings --------------------------------------------------------------------------------------------------------
%default-h2 {
  font-size: $fs--125;
}

%hint-text {
  color: $text--lighter;
  font-style: italic;
}